<%- include('partials/header') -%>

<div class="box">
  <h1 class="m-text">THANK YOU FOR CONTACTING ME!</h1>
  <h5 class="m-text">I'll get back to you shortly</h5>
</div>

<%- include('partials/footer') -%>
